@font-face {
    font-family: 'Norse-Bold';
    src: url('./fonts/Norse-Bold.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

}

#sidebar {
    display: flex;
    position: relative;
    width: 25%;
    height: 100vh;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(245, 245, 245);
    width: 45%;
    height: 100vh;
}

.sidebar-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.logo-body {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 10rem;
    background: black;
    opacity: 0.6;
    color: white;
    top: 15rem;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
}    

.logo {
    position: relative;
}

.logo-image {
    width: 5rem;
}

.logo-text {
    position: relative;
    font-family: 'Norse-Bold';
    font-size: 5rem;
}

.footer-sidebar {
    align-content: end;
    margin: 0 auto;
    color: white;
    padding-bottom: 1%;
}

.footer-sidebar a {
    color: white
}

.form-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.25rem;
    padding-left: 5%;
    padding-right: 18%;
    padding-bottom: 2%;
}

span {
    font-style: italic;
}

.form-last-text {
    padding-top: 5%;
    padding-bottom: 10%;
}

.form-data {
    padding: 1% 18% 1% 5%;
    background: white;
}

legend {
    font-size: 1.2rem;
    font-weight: bold;
}

.form-content {
    display: inline-block;
    position: relative;
    width: 46%;
    height: auto;
    padding-right: 8%;
}

label, input {
    display: block;
    width: 100%;
}

label {
    font-size: 0.8rem;
    padding-top: 0;
}

input:focus, input[type]:focus {
    border-color: blue;
    box-shadow: 3px 3px 3px rgba(113, 113, 207,0.8);
    outline: 0 none;
}

input {
    padding: 6px 6px;
    font-size: 1rem;
    margin-bottom: 5%;
    border-radius: 5px;
    border: 1px solid lightgray;
}

hr {
    border: 2px solid rgb(222, 234, 238);
    box-shadow: 3px 3px 15px rgba(222, 234, 238, 0.5);
}

.button-submit {
    padding: 5% 18% 1% 5%;
}

button {
    background-color: rgb(106, 132, 156);
    color: white;
    padding: 1% 5%;
    border-radius: 5px;
    border: none;
    font-size: 1.3rem;
}

legend {
    padding-bottom: 2%;
}

.last-text {
    padding: 1% 18% 1% 5%;
}

input:invalid {
    border-color: red;
    box-shadow: 3px 3px 3px rgba(204, 110, 110, 0.8);
}

.last-text a {
    text-decoration: none;
    color: gray;
}

@media (max-width: 1200px) {
    html {
        min-width: 900px;
    }
    .form-content {
        width: 100%;
    }
    .form-text {
        font-size: 0.8rem;
    }
    .logo-text {
        font-size: 3.2rem;
    }
    legend, .last-text {
        font-size: .75rem;
    }
    button {
        font-size: .83rem;
    }
    input {
        font-size: .65rem;
    }
    label {
        font-size: 0.5rem;
    }
    .footer-sidebar {
        font-size: 0.65rem;
    }
}
